{% extends "index.html.twig" %}

{% block body %}

<main id="main">
    <section class="section">
        <div class="container mt-4">
            {% if datas|length != 0 %}
                <div class="d-flex justify-content-center mt-3">
                    {{ knp_pagination_render(datas) }}
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            {% for property in properties %}
                                <th class="text-center align-middle" {% if property not in filters %}rowspan="2"{% endif %}>
                                    {% if property in sortables %}
                                        {{ knp_pagination_sortable(datas, headers[property], 'a.'~ property) }}
                                    {% else %}
                                        {{ headers[property] }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for property in properties %}
                                {% if property in filters %}
                                    <th class="text-center">{{ knp_pagination_filter(datas, {('a.'~ property): property}) }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                            <tr>
                                {% for property in properties %}
                                    <td>
                                        {% if attribute(data, property) is iterable %}
                                            {% if attribute(data, property)|length != 0 %}
                                                <ul class="list-group">
                                                    {% for child in attribute(data, property) %}
                                                        <li class="list-group-item">{{ attribute(child, "codeName") }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% elseif attribute(data, property).timestamp is defined %}
                                            {{ attribute(data, property)|date('d/m/Y') }}
                                        {% elseif attribute(data, property).id is defined %}
                                            {{ attribute(data, property).name }}
                                        {% elseif property == "title" %}
                                            <a href="{{ path('mission.specs', {idMission: data.id}) }}">{{ attribute(data, property) }}</a>
                                        {% else %}
                                            {{ attribute(data, property) }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center mt-3">
                    {{ knp_pagination_render(datas) }}
                </div>
            {% else %}
                <div class="alert alert-warning mt-4 text-center"><strong>Il n'y a pas d'enregistrement !</strong></div>
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}