{% extends "index.html.twig" %}

{% block body %}

<main id="main">
    <section class="section">
        <div class="container mt-4">   
            <h2>TEST</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.id }} - {{ admin.lastName }} - {{ admin.firstName }}</td>
                        <td>
                            <a href="{{ path('admin.property.home', {id: admin.id}) }}">Editer</a>
                            <form method="POST" action="{{ path('admin.property.home', {id: admin.id}) }}">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id)}}"/>
                                <button>Supprimer</button>
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>

{% endblock %}