{% extends "index.html.twig" %}

{% block body %}

<main id="main">
    <section class="section">
        <div class="container mt-4">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="d-flex justify-content-center">
                    <a href="{{ path('admin.add', {formName: formName}) }}" class="btn btn-primary mt-4">Ajouter un enregistrement</a>
                </div>
                {% if admins is defined %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Titre</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.id }} - {{ admin.lastName }} - {{ admin.firstName }}</td>
                                    <td>
                                        <a href="{{ path('admin.home', {id: admin.id}) }}">Editer</a>
                                        <form method="POST" action="{{ path('admin.home', {id: admin.id}) }}">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id)}}"/>
                                            <button>Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-warning mt-4 text-center">Il n'y a pas d'enregistrement dans : <strong>{{ title }}</strong>.</div>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

{% endblock %}