{# templates/index.html.twig #}

<!DOCTYPE html>

<html>

    <head>

        <title>{{ title }}</title>

    </head>

    <body>

        
        <div class="container mt-4">
            <h1>{{ title }}</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for blabla in test %}
                    <tr>
                        <td>{{ blabla.id }} - {{ blabla.lastName }} - {{ blabla.firstName }}</td>
                        <td>
                            <a href="{{ path('admin.property.edit', {id: blabla.id}) }}">Editer</a>
                            <form method="POST" action="{{ path('admin.property.delete', {id: blabla.id}) }}">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blabla.id)}}"/>
                                <button>Supprimer</button>
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
                </tbody>
            </table>
            
        </div>
        <a href="{{ path('admin.property.new') }}">Ajouter un nouveau utilisateur</a>
       

        

    </body>

</html>